<table>
  <!-- En-tête du billet -->
  <tr>
      <td align="center">
          <div class="header">
              <!-- QR Code (Remplacer par une image) -->
              <img src="" alt="QR Code">
              <div><h3>12345-B67890</h3></div>
              <div>Agence COSAMA / Vendeuse 1</div>
              <div>Émis le 14/10/2024</div>
          </div>
      </td>
  </tr>

  <!-- Informations de trajet -->
  <tr>
      <td align="left">
          <div>De (<em>From</em>) / A (<em>To</em>) :</div>
      </td>
  </tr>
  <tr>
      <td colspan="2" class="content">
          <strong>Dakar à Gorée</strong>
      </td>
  </tr>

  <!-- Bateau et départ -->
  <tr>
      <td align="left">
          <div>Opéré par (<em>Bateau</em>) :</div>
      </td>
  </tr>
  <tr>
      <td colspan="2" class="content">
          <strong>Navire Alpha</strong>
      </td>
  </tr>

  <tr>
      <td align="left">
          <div>Départ / Heure (<em>Departure / At</em>) :</div>
      </td>
  </tr>
  <tr>
      <td class="content">
          <strong>14/10/2024 10:00</strong>
      </td>
  </tr>

  <!-- Embarquement -->
  <tr>
      <td align="left">
          <div>Embarquement (<em>Boarding</em>) :</div>
      </td>
  </tr>
  <tr>
      <td class="content">
          <strong>09:00 - 09:30</strong>
      </td>
  </tr>

  <!-- Nom du passager -->
  <tr>
      <td class="content">
          <h3><span class="titre_1">DOE / John</span><br>VIP N° : 123456</h3>
      </td>
  </tr>

  <!-- Type et numéro de place -->
  <tr>
      <td align="center">
          VIP - Place :
      </td>
  </tr>
  <tr>
      <td class="content">
          <strong>12A</strong>
      </td>
  </tr>

  <!-- Prix -->
  <tr>
      <td class="prix">
          <span class="titre_2">Prix FCFA :</span> <span class="titre_2">5000</span>
      </td>
  </tr>

  <!-- Si la taxe existe -->
  <tr>
      <td class="prix">
          <div>Redevance portuaire FCFA : 500</div>
      </td>
  </tr>
  <tr>
      <td class="prix">
          <div>Prix Total FCFA : 5500</div>
      </td>
  </tr>

  <!-- Note supplémentaire -->
  <tr>
      <td class="titre_3" align="center">
          <div>NB : Note circulaire 00330/DG/PAD/CGMID/DG du 21.03.2012</div>
      </td>
  </tr>

  <!-- Message de fin -->
  <tr>
      <td align="center">
          <div>
              <p>COSAMA, Voyagez en toute sérénité !</p>
          </div>
      </td>
  </tr>
</table>