
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <h5 class="m-0">Blocage et déblocage de places</h5>
            <br/>
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-2">
                <ng-template pTemplate="left">
                    <div class="field" style="display: inline-block; width: 100%;">
                        <!-- Première ligne -->
                        <div style="display: inline-block; width: 300px;">
                            <label for="navire" class="label-red" style="display: block; margin-bottom: 5px;">BATEAU :</label>
                            <p-dropdown class="fixed-dropdown" (onChange)="onDropdownChange()" [(ngModel)]="selectedBateau" optionValue="bat_id" optionLabel="bat_nom" [options]="bateaux" placeholder="Sélectionner un bateau">
                                <ng-template let-bateau pTemplate="item">
                                    <span>{{bateau.bat_nom}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        
                        <div style="display: inline-block; width: 300px;">
                            <label for="voyage" class="label-red" style="display: block; margin-bottom: 5px;">VOYAGE :</label>
                            <p-dropdown class="fixed-dropdown" (onChange)="onDropdownChange()" [(ngModel)]="selectedVoyage" optionLabel="code_voyage" optionValue="voy_id" [options]="voyages" placeholder="Choisir..." appendTo="body">
                                <ng-template let-voyage pTemplate="item">
                                    <span>{{ voyage.voy_id | infovoyage2: voyages }}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        
                        <div style="display: inline-block; width: 300px;">
                            <label for="type-places" class="label-red" style="display: block; margin-bottom: 5px;">TYPE DE PLACES :</label>
                            <p-dropdown class="fixed-dropdown" (onChange)="onDropdownChange()" [(ngModel)]="selectedTypePlace" optionValue="tplc_id" optionLabel="tplc_nom" [options]="typePlaces" placeholder="Choisir..." appendTo="body">
                                <ng-template let-typePlace pTemplate="item">
                                    <span>{{typePlace.tplc_nom}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                
                    </div>
                </ng-template>
                
            </p-toolbar>

            <div class="" *ngIf="this.selectedBateau && this.selectedVoyage && this.selectedTypePlace">
                <p-pickList [source]="sourcePlaces" [target]="targetPlaces" sourceHeader="DISPONIBLES" targetHeader="RESERVES" dragdrop="true"
                            [responsive]="true" [sourceStyle]="{'height':'50px'}" [targetStyle]="{'height':'50px'}" (onMoveToTarget)="logMovedToTarget($event)" 
                            (onMoveToSource)="logMovedToSource($event)">
                        <!-- Template pour afficher les éléments source -->
                        <ng-template let-place pTemplate="item">
                            <div style="display: inline-block; margin-right: 3px; margin-bottom: 3px;">
                                <p-tag 
                                    icon="pi pi-info-circle" 
                                    [severity]="place.color" 
                                    [value]="place.plc_code">
                                </p-tag>
                            </div>
                        </ng-template>
                </p-pickList>
                <div class="text-center my-2">
                    <button pButton pRipple 
                        label="Enregistrer les modifications" 
                        icon="pi pi-arrow-right-arrow-left" 
                        class="p-button-success mr-2" 
                        (click)="saveModification()">
                    </button>
                </div>                      
            </div>
            
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
                </div>

                <div class="field">
                    <label for="status">Inventory Status</label>
                    <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" optionValue="label" [options]="statuses" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="product && product.inventoryStatus" [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field">
                    <label class="mb-3">Category</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                            <label for="category1">Accessories</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                            <label for="category2">Clothing</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
                            <label for="category3">Electronics</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
                            <label for="category4">Fitness</label>
                        </div>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Price</label>
                        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="quantity">Quantity</label>
                        <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
