.label-inexistant2 {
    border-radius: 5px; /* Pour arrondir les bords */
    padding: 0.5rem 1rem; /* Espacement interne */
    background-color: red; /* Couleur verte pour succès */
    color: white; /* Couleur du texte en blanc */
    border: none; /* Suppression de la bordure */
}

.label-inexistant3 {
    border-radius: 5px; /* Pour arrondir les bords */
    padding: 0.5rem 1rem; /* Espacement interne */
    background-color: red; /* Couleur verte pour succès */
    color: white; /* Couleur du texte en blanc */
    border: none; /* Suppression de la bordure */
}

.label-inexistant {
    border-radius: 5px; /* Pour arrondir les bords */
    padding: 0.5rem 1rem; /* Espacement interne */
    background-color: red; /* Couleur verte pour succès */
    color: white; /* Couleur du texte en blanc */
    border: none; /* Suppression de la bordure */
}

.label-non-achete {
    border-radius: 5px; /* Pour arrondir les bords */
    padding: 0.5rem 1rem; /* Espacement interne */
    background-color: orange; /* Couleur verte pour succès */
    color: black; /* Couleur du texte en blanc */
    border: none; /* Suppression de la bordure */
}

.label-deja-embarque {
    border-radius: 5px; /* Pour arrondir les bords */
    padding: 0.5rem 1rem; /* Espacement interne */
    background-color: #28a745; /* Couleur verte pour succès */
    color: white; /* Couleur du texte en blanc */
    border: none; /* Suppression de la bordure */
}